*{
    margin: 0;
}

/* fonts  */

.raleway-rale {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-int {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* common things */
.text1{
    color: #252432;
}

.text2{
    color: rgba(37, 36, 50, 0.5);
}
.text3{
    color: rgba(0, 0, 0, 0.5);
}
.btn-vio{
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    border: none;
}


/* header  */
header{
    height: 700px;
    background-image: url('../Assets/Hero-bg.png');
    
}
.logo{
    font-size: 34px;
    font-weight: bolder;
}

.header-title{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin: 160px 270px 85px 270px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 200px;
}

.action-img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 220px;
}

.banner-title{
    font-weight: bold;
    font-size: 42px;

}

.banner-des{
    font-size: 24px;
}
.bn1{
    margin-top: 23px;
}

.launch-btn{
    margin-top: 23px;
}

.pro-container{
    height: 306px;
    width: 1240px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 120px auto;
    padding: 50px 20px;
    border-radius: 15px;
}

.pro-title{
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    margin: 0;
    background-color: transparent;
}

.stat-title{
    font-weight: bold;
    font-size: 80px;
    margin: 0 auto;
}

.stats{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.stat-des{
    text-align: center;
    font-size: 20px;
}

.stat{
    text-align: center;
}

.what{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 15px;
}

.user{
    height: 170px;
    width: 300px;
    border-radius: 14px;
    padding: 24px;
    box-shadow: -3px 4px 14px 3px rgba(0, 0, 0, 0.25);
    padding: 24px;
    margin: 50px;
}
.userx{
    height: 170px;
    width: 300px;
    border-radius: 14px;
    padding: 24px;
    box-shadow: 0px 0px 33px -14px rgba(0, 0, 0, 0.25);
    padding: 24px;
    margin: 50px;
}
.star{
    margin-bottom: 15px;
}

.user-title{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}
.user-details{
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 20px 0px;
}

.user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.feeds{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-des{
    font-size: 97px;
    font-weight: bold;
}

.footer-title{
    width: 530px;
}

.touch{
    display: flex;
    align-items: center;
}